extends ../layout
block content
    article
        if topic 
            h2=topic.title
            = topic.description
        else
            h2 Welcome
            | This is server side javascript tutorial

    ul

        if topic
            li
                a(href='/topic/add') 추가           
            li
                a(href='/topic/'+topic.id+'/edit') 수정
            li 
                a(href='/topic/'+topic.id+'/delete') 삭제